
<div class="container-fluid">
  <div class="row controls">
    <div class="cols col-sm-3">
      <div class="inner">
        Open
      </div>
    </div>
    <div class="cols col-sm-3">
      <div class="inner">
        Active
      </div>
    </div>
    <div class="cols col-sm-3">
      <div class="inner">
        Completed
      </div>
    </div>
    <div class="cols col-sm-3">
    </div>
  </div>
  <div class="row plan">
    <div class="cols col-sm-3">
      <div id="open-plan-items" ui-sortable="sortableOptions" class="plan-item-container" ng-model="itemsOpen">
        <div class="plan-item" ng-repeat="item in itemsOpen">
          <span class="plan-item-name">{{item.name}}</span>
          <span class="plan-item-state">{{item.state}}</span>
        </div>
      </div>
    </div>

    <div class="cols col-sm-3">
      <div id="active-plan-items" ui-sortable="sortableOptions" class="plan-item-container" ng-model="itemsActive">
        <div class="plan-item" ng-repeat="item in itemsActive">
          <span class="plan-item-name">{{item.name}}</span>
          <span class="plan-item-state">{{item.state}}</span>
        </div>
      </div>
    </div>

    <div class="cols col-sm-3">
      <div id="completed-plan-items" ui-sortable="sortableOptions" class="plan-item-container" ng-model="itemsCompleted">
        <div class="plan-item" ng-repeat="item in itemsCompleted">
          <span class="plan-item-name">{{item.name}}</span>
          <span class="plan-item-state">{{item.state}}</span>
        </div>
      </div>
    </div>

    <div class="cols col-sm-3">
    </div>
  </div>
</div>

